// elimino una fila dentro del datatable dado el id de la misma 
$(document).ready(function() {
  var oTable = $('#networks').dataTable();
  oTable.fnDeleteRow( document.getElementById("network_<%= @network.id %>"));
} );
$('.flash_error').attr('style','block')
$('.flash_error').html("<div class='alert alert-danger'>Network was succesfully deleted</div>").delay(3000).fadeOut("slow");

